<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <style>
        table {
            width: 40%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #1b1919;
        }
        th {
            background-color: #10f5f5;
        }
        td {
            font-weight: bold ;
        }
    </style>
</head>
<body>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <!-- Replace these with your actual column names -->
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% records.forEach(record => { %>
                <tr>
                    <!-- Replace these with your actual column names -->
                    <td><%= record.Id %></td>
                    <td><%= record.NAME %></td>
                    <td><%= record.PRICE %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
